@import url("https://fonts.googleapis.com/css2?family=Pushster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Pushster", sans-serif;
  max-width: 100%;
}
